.custome_card {
  /* width: calc(100% - 30px); */
  min-width: 400px; /* Minimum width of 400px */
  max-width: 100%; 
  border: 1px solid #ccc;
  border-radius: 10px;
  display: flex;
  flex-direction: row; /* Ensure cards stack vertically */
  justify-content: space-evenly;
  background-color: bisque;
  transition: background-color 0.3s ease, color 0.3s ease;
  color: black;
  /* margin: 10px auto; */
  padding: 15px;
  box-sizing: border-box;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px; /* Add margin-bottom to create space between cards */
}


.card_1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.card_btn {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
}

.card_rating {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.card_rating span {
  margin-left: 10px;
  font-size: 1.1rem;
  font-weight: bold;
}

.card_link {
  color: #007bff;
  font-weight: bold;
  text-decoration: none;
}

.card_link:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .custome_card {
    width: 100%; /* Full width on smaller screens */
    padding: 10px;
  }

  .card_rating span {
    font-size: 1rem;
  }
}
