.heading_custome{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    background-color: #e8e6e6;
    border-radius: 10px;
    padding: 0 15px; /* Add padding to prevent content from sticking to the sides */
    width: 35%;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 2%;
  }
  .heading_custome h2{
    font-size: 2rem;
    color: #333;
    margin: auto; /* Center horizontally */
  }