.home_card{

    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    color: black;
    flex-wrap: wrap;
    position: relative; /* Set position to relative */
    font-size: 1.1rem;
    transition: box-shadow 0.10s;
    cursor: pointer;
    margin-bottom: 1.7rem;
    text-decoration: none;
    margin-top: 10%;
    width: auto;
    background-color:rgb(171, 231, 171);
    /* color: black; */
    transition: background-color 0.5s ease, color 0.5s ease; 
    background: linear-gradient(45deg, rgb(101, 228, 235), rgb(5, 155, 168));
    /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.9); */

}
.rem-name{
    font-weight: bold;
    font-size: 1.5rem;
}
.hakeem-name{
    font-size: 1.1rem;
}
.home_card:hover{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);

}
.remRating{
    font-weight: bold;
}

.remHeader{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 1.3rem;
}
.home_card .card-link {
    color: inherit; /* Use the default text color */
    text-decoration: none; /* Remove underline */
  }
  
  .home_card .card-link:hover {
    text-decoration: none; /* Ensure no underline on hover */
  }
  