.active{
    background-color:white;
    border-radius: 4px;
}
.navBackground {
    background-color: #12a8b3;
}
.mar{
    margin-top: 1.2rem;
}

.font {
    font-family: Arial, Helvetica, sans-serif;
}

.link {
    text-decoration: none;
}

.logo {
    height: 25px; /* Match the height of the parent container (text) */
    margin-right: 5px;
    
}

.profile {
    height: 1.4rem;
    margin: auto;
}
.nav-link{
    color: white;
    margin: 0px 0.4rem;
}
.nav-link:hover{
    background-color: white;
    border-radius: 4px;
}